.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/20130302_07_CTA_Bus_Shuttle.jpg/220px-20130302_07_CTA_Bus_Shuttle.jpg) center no-repeat #46B6AC; 
}